@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  background: #051215
}

img {
  height: 150px;
}

footer ul {
  margin: 10px;
}

.footer-bottom {
  padding: 15px;
}

/*main*/
.h2a {
  font-size: 25PX;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  background-color: #051215;
}

/*GALERIA*/
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #051215;
}

.container {
  width: 100%;
  max-width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 400ms;
}

.card {
  flex: 1;
  height: 100%;
  transition: all 400ms;
  cursor: pointer;
}

.card>img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:nth-child(odd) {
  translate: 0 -20px;
}

.card:nth-child(even) {
  translate: 0 20px;
}

.container:hover .card:not(:hover) {
  filter: grayscale(100%);
}

.card:hover {
  flex: 3;
}

/*texto del comienzo*/
.texto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  background-color: #051215;
  gap: 10px;
}

.texto1 {
  padding-left: 14px;
  display: flex;
  color: #fff;
  background-color: #051215;
}

/*carrusel*/
.container2 {
  background: #051215;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 50vh;
}