/* Informacion */
#info {
    flex-wrap: wrap;
    background: #333;
    max-height: 300px;
    margin-right: 50px;
    padding: 1.5em;
    border-radius: 8px;
}

#wtw {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: #fff;
        font-size: small;
    }
}

#wtw p {
    margin: 5px auto;
}

.img-wtw {
    border-radius: 50px;
    margin-right: 5px;
}

/* crew */
.menu-container {
    width: 100%;
}

.menu {
    display: flex;
    background-color: #333;
}

.menu label {
    padding: 14px 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #444;
    flex-grow: 1;
    user-select: none;
}

.menu label:hover {
    background-color: #444;
}

.menu-content {
    display: none;
    padding: 20px;
}

input[type="radio"] {
    display: none;
}

#cast:checked~.content-cast,
#equipo:checked~.content-equipo,
#detalles:checked~.content-detalles,
#generos:checked~.content-generos {
    display: block;
}

/* trailer */
.trailer {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/* Media querie celular */
@media (min-width: 320px) and (max-width: 760px) {
    #info {
        display: none;
    }
    .content {
        max-width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }
}

/* Media querie tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    #content {
        flex-direction: column;
    }

    #info {
        max-width: 150px;
        margin-right: 0px;
    }    
}

/* Media querie laptop */

@media (min-width: 1024px) {}

/* Media querie pc escritorio */

@media (min-width: 1360px) {}