/*reglas generales */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.flex {
    display: flex;
}

.al-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.center {
    margin: 0 auto;
    width: 65%;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #051215;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    nav {
        ul {
            list-style: none;
            gap: 5px;
            margin-right: 20px;

            a {
                padding: 5px 10px;
                border-radius: 5px;
                display: block;

                &:hover {
                    color: #00fff2;
                }

                &:hover:after {
                    width: 100%;
                    left: 0%;
                }

                &:after {
                    content: "";
                    pointer-events: none;
                    bottom: -2px;
                    left: 50%;
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-duration: 400ms;
                    transition-property: width, left;
                }
            }
        }

        >ul {
            display: flex;

            >li {
                position: relative;

                ul {
                    width: 125%;
                    position: absolute;
                    display: none;
                    top: 30px;
                    color: white;
                    background-color: black;
                }

                &:hover ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 10px;
                        text-align: left;
                    }
                }
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
        }

        #nav-toggle {
            display: none;
        }

        label {
            display: none;

        }
    }

}

section {
    max-width: 100%;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    margin-top: auto;
}

footer ul a {
    font-size: 15px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    font-size: small;
}

#logo {
    fill: #00fff2;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd
}

#logo2 {
    fill: #00fff2;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd
}

.svg {
    fill: #00fff2;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd
}

.redes {
    fill: #00fff2;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    color: #e1e1e1;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

/* Barra de scroll*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border: 7px solid #051215;
    box-shadow: 0 0 5px 5px rgb(0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(5, 255, 235, 1) 100%);
}

/* Media querie celular */
@media (min-width: 320px) and (max-width: 760px) {
    header {
        height: 50px;

        nav {

            label {
                display: block;
                font-size: 30px;
                text-align: center;
                cursor: pointer;
                width: 100%;
                margin-right: 20px;
                color: #FFFFFF;
                background-color: #333;
            }

            a {
                display: block;
            }

            ul {
                text-align: center;
                display: none;
                position: absolute;
                margin-right: 0;
                top: 50px;
                right: 0px;
                background-color: #333;

                >li {
                    padding: 5px;

                    &:hover ul {
                        padding: 0;
                        top: 0;
                        width: 100%;
                        position: relative;

                        li {
                            padding: 5px;
                        }
                    }

                    ul {
                        li {
                            padding: 0;

                            a {
                                text-align: center;
                            }

                        }
                    }
                }
            }
        }

        #nav-toggle:checked+ul {
            display: block;
        }
    }

    .center {
        margin: 0 auto;
        width: 80%;
    }

    .svg {
        width: 100px;
    }

    #logo {
        display: none;
    }

    #logo2 {
        height: 40px;
    }

    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul li {
        margin: 5px 0;
    }
}

/* Media querie tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        height: 50px;

        nav {

            label {
                display: block;
                font-size: 30px;
                text-align: center;
                cursor: pointer;
                width: 100%;
                margin-right: 20px;
                color: #FFFFFF;
                background-color: #333;
            }

            a {
                display: block;
            }

            ul {
                text-align: center;
                display: none;
                position: absolute;
                margin-right: 0;
                top: 50px;
                right: 0px;
                background-color: #333;

                >li {
                    padding: 5px;

                    &:hover ul {
                        padding: 0;
                        top: 0;
                        width: 100%;
                        position: relative;

                        li {
                            padding: 5px;
                        }
                    }

                    ul {
                        li {
                            padding: 0;

                            a {
                                text-align: center;
                            }

                        }
                    }
                }
            }
        }

        #nav-toggle:checked+ul {
            display: block;
        }
    }
    
    .svg {
        width: 100px;
    }

    #logo {
        display: none;
    }

    #logo2 {
        height: 40px;
    }
}

/* Media querie laptop */
@media (min-width: 1024px) {
    .svg {
        width: 140px;
    }

    #logo {
        height: 50px;
    }

    #logo2 {
        display: none;
    }
}